h1
  a(href="/") TALK
  =": "
  a(href="/"+chat.name)= chat.name
#content
  .post.you
    .user
      small Nothing here yet
p#error
#controls
  small Send with CTRL + ENTER
  br
  textarea#new_post
  br
  br
  input#send(type="button", value="Send")
  input#load(type="button", value="Load")
  br
  br
  input#auto(type="button", value="Auto Load")
  br
  br
  input#remo(type="button", value="Remove Chat")

script
  var USER = {
      id : "#{user.id}"
    , name : "#{user.name}"
    }
    , CHAT = {
      name : "#{chat.name}"
    }
script(src="/js/jquery-1.7.1.min.js")
script(src="/js/chat.js")
