h1
  a(href="/") TALK:
  =" "+chat.name
.content
p#error
.controls
  textarea#new_post
  br
  br
  input#send(type="button", value="Send")
  input#load(type="button", value="Load")
  br
  br
  input#auto(type="button", value="Auto Load")
  br
  br
  input#remo(type="button", value="Remove Chat")

script
  var USER = {
    id : "#{user.id}"
  , name : "#{user.name}"
  }
script(src="/js/jquery-1.7.1.min.js")
script(src="/js/chat.js")
