h1
  a(href="/") TALK
h2 CREATE
form#create(action="/new", method="post")
  b User Name
  br
  input(type="textbox", name="user_name")
  br
  br
  b Chat Name
  br
  input(type="textbox", name="name")
  br
  br
  b Password
  br
  input(type="password", name="password")
  br
  br
  input(type="submit", value="Create")
