h1
  a(href="/") TALK
.description
  p
    b="TALK "
    =" is a simple "
    a(href="https://github.com/sadasant/TALK")="FOSS"
    |  node.js app for creating private chats.
    br
    br
    | All the chats are flushed once a day and after every
    a(href="https://github.com/sadasant/TALK/commits/master/") update
    |.
h2 CREATE
form#create(action="/new", method="post")
  b User Name
  br
  input(type="textbox", name="user_name", value=user.name)
  br
  br
  b talk.nodester.com/
  br
  input(type="textbox", name="name", placeholder="Chat Name")
  br
  br
  b Password
  br
  input(type="password", name="password")
  br
  br
  input(type="submit", value="Create")
