h1
  a(href="/") TALK
.description
  p
    b="TALK "
    =" is a simple "
    a(href="https://github.com/sadasant/TALK", target="_blank")="FOSS"
    |  node.js app for creating private chats.
    br
    br
    | Countdown to flush:
    - var date = new Date
    - var hours = 23 - date.getHours()
    - var minutes = 59 - date.getMinutes()
    br
    b= hours + 'h ' + (minutes < 10 ? '0' + minutes : minutes) + 'm'
h2 CREATE
form#create(action="/new", method="post")
  b User Name
  br
  input(type="textbox", name="user_name", value=user.name)
  br
  br
  b talk.nodester.com/
  br
  input(type="textbox", name="name", placeholder="Chat Name")
  br
  br
  b Password
  br
  input(type="password", name="password")
  br
  br
  input(type="submit", value="Create")

script(src="/js/S.js")
