!!!
html
  head
    meta(charset='utf-8')
    meta(name='description', content='TALK is a simple FOSS node.js app for creating private chats.')
    meta(name='keywords', content='TALK FOSS node.js app javascript nodester private chat')
    meta(name='author', content='Daniel Rodriguez, http://sadasant.com/')
    link(rel="shortcut icon", href="/img/TALK.ico")
    - var title = title || 'TALK'
    - var chat = chat || {}
    title= title + (chat.name ? ": "+chat.name : "")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #body!= body
    br
    br
    #footer
      a(href="https://github.com/sadasant/TALK/blob/master/LICENSE#L10-13", target="_blank") Warning!
      | &nbsp;
      a(href="http://flattr.com/thing/570391/TALK-is-a-simple-FOSS-node-js-app-for-creating-private-chats-", target="_blank") Flattr this!
      | &nbsp;
      a(href="https://github.com/sadasant/TALK", target="_blank") Fork me!
      br
      br
      | By
      a(href="http://sadasant.com/", target="_blank") sadasant
