vendors = webkit moz o ms official

border-radius()
  for v in vendors
    if v == official
      border-radius: arguments
    else
      -{v}-border-radius: arguments

body
  background #333
  padding 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #47ac39

h1
  color #47ac39
  font-size 55px
  text-shadow 1px 1px 0 #000
  a
    color inherit
    text-decoration none

h2
  color #666
  text-shadow 1px 1px 0 #000

#body,#footer
  width 600px
  margin-left auto
  margin-right auto
  margin-top -17px
  text-align center
  color #ddd
  letter-spacing 1px
  input, textarea
    background #2d2d2d
    width 200px
    border 1px solid #444
    border-top 1px solid #555
    border-radius 8px
    color #ddd
    margin 1px
  textarea
    width 400px
    min-width 400px
    max-width 400px
    min-height 50px
    text-shadow none
  input[type="button"], input[type="submit"]
    color #222
    font-weight bold
    text-shadow 1px 1px 0 #444
    background #393939
    border 1px solid #444
    border-top 1px solid #555
    cursor pointer
    cursor hand
    padding 3px 10px
    width auto
    line-height 20px
    font-size 14px
    letter-spacing 2px
    border-radius 5px
  input[type="button"]:hover, input[type="submit"]:hover
    background #444744
    border 1px solid #555
    border-top 1px solid #666
  .content
    margin-top -15px
    text-align left
    margin-left 100px
    width 400px
    .post
      .user
        width 380px
        background #444
        color #47ac39
        font-weight bold
        text-align center
        border 1px solid #444
        border-radius 5px 5px 0 0
        margin-top 11px
        overflow hidden
        text-align left
        padding 3px 10px
        .date
          float right
          margin-top 3px
          font-weight normal
          font-size 11px
          opacity .5
      .post-post
        background #333
        padding 10px
        width 380px
        border 1px solid #444
        border-radius 0 0 5px 5px
        border-top 0
        overflow hidden
        color #47ac39
        p
          margin 0
        blockquote
          padding 10px
          margin-left -10px
          border-left 1px solid #36642F
          color #999
          background #304030
          width 380px
        li
          margin-left -20px
        pre code
          color #999
          font-size 11px
        pre
          border-left 1px solid #111
          background #2d2d2d
          width 380px
          margin-left -10px
          padding 10px
        pre:hover
          overflow-x scroll
        img
          max-width 100px
          max-height 100px
    .you
      .user
        background #222
        border-color #222
        color #ddd
      .post-post
        border-color #222
        color #ddd
  .controls
    margin-top 0px
  #error
    background #2D2D2D
    color #444744
    font-weight bold
    line-height 30px
    width 100px
    margin-left 250px
    border-radius 8px
