body {
  background: #333;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #47ac39;
}
a:hover {
  color: #326326;
}
h1 {
  color: #47ac39;
  font-size: 55px;
  text-shadow: 1px 1px 0 #000;
}
h1 a {
  color: inherit;
  text-decoration: none;
}
h2 {
  color: #666;
  text-shadow: 1px 1px 0 #000;
}
#body,
#footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: -17px;
  text-align: center;
  color: #ddd;
  letter-spacing: 1px;
}
#body input[type="button"],
#footer input[type="button"],
#body input[type="submit"],
#footer input[type="submit"] {
  color: #222;
  font-weight: bold;
  text-shadow: 1px 1px 0 #444;
  background: #393939;
  border: 1px solid #444;
  border-top: 1px solid #555;
  cursor: pointer;
  cursor: hand;
  padding: 3px 10px;
  width: auto;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#body input,
#footer input,
#body textarea,
#footer textarea {
  background: #2d2d2d;
  width: auto;
  border: 1px solid #444;
  border-top: 1px solid #555;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  color: #999;
  margin: 1px;
}
#body input[type="button"]:hover,
#footer input[type="button"]:hover,
#body input[type="submit"]:hover,
#footer input[type="submit"]:hover {
  background: #444744;
  border: 1px solid #555;
  border-top: 1px solid #666;
}
#body .description p,
#footer .description p {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#body #content,
#footer #content {
  margin-top: -15px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 400px;
  border: 1px solid #222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#body #content .post:first-child .user,
#footer #content .post:first-child .user {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-top: 0px;
}
#body #content .post:last-child .post-post,
#footer #content .post:last-child .post-post {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#body #content .post .user,
#footer #content .post .user,
#body #content .post .post-post,
#footer #content .post .post-post {
  width: auto;
  max-width: 380px;
}
#body #content .post .user,
#footer #content .post .user {
  background: #383838;
  color: #326326;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-align: left;
  padding: 1px 10px;
  border-top: 1px solid #222;
  font-size: 10px;
}
#body #content .post .user .date,
#footer #content .post .user .date {
  float: right;
  margin-top: 1px;
}
#body #content .post .post-post,
#footer #content .post .post-post {
  background: #333;
  padding: 6px 10px 12px 10px;
  overflow: hidden;
  color: #47ac39;
}
#body #content .post .post-post p,
#footer #content .post .post-post p {
  margin: 0;
}
#body #content .post .post-post blockquote,
#footer #content .post .post-post blockquote {
  padding: 10px;
  margin-left: -10px;
  border-left: 1px solid #36642f;
  color: #999;
  background: #304030;
  width: 380px;
}
#body #content .post .post-post li,
#footer #content .post .post-post li {
  margin-left: -20px;
}
#body #content .post .post-post pre code,
#footer #content .post .post-post pre code {
  color: #999;
  font-size: 11px;
}
#body #content .post .post-post pre,
#footer #content .post .post-post pre {
  border-left: 1px solid #111;
  background: #2d2d2d;
  width: 380px;
  margin-left: -10px;
  padding: 10px;
}
#body #content .post .post-post pre:hover,
#footer #content .post .post-post pre:hover {
  overflow-x: scroll;
}
#body #content .post .post-post img,
#footer #content .post .post-post img {
  max-width: 100px;
  max-height: 100px;
}
#body #content .you .user,
#footer #content .you .user {
  background: #2d2d2d;
  color: #666;
}
#body #content .you .post-post,
#footer #content .you .post-post {
  color: #ddd;
}
#body #controls,
#footer #controls {
  margin-top: 0px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#body #controls small,
#footer #controls small {
  color: #666;
  font-size: 10px;
}
#body #controls textarea,
#footer #controls textarea {
  width: auto;
  width: 98%;
  min-height: 50px;
  text-shadow: none;
}
#body #error,
#footer #error {
  background: #2d2d2d;
  color: #444744;
  font-weight: bold;
  line-height: 30px;
  width: 100px;
  margin-left: 250px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
